{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
  {% include "base_metadata.html" %}
  {% include "base_css_links.html" %}

  {% block css_links %}
    <!-- custom styles -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static "css/style_about.css" %} ">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  {% endblock %}

    {% block title %} About {% endblock %}
{% endblock %}

{% block body %}
  <div class="wrapper">
  <header>
    <img src="{% static "images/profile_300px.jpg" %}" alt="profile picture NL" />
  </header>
  <article>
    <section>
      <p>making Peoples Lives Easier</p>

      <p>Hi, my name is Michael Williams. I am a Business Analyst + Developer with a strong desire and ability to learn. My background is in web development, consulting, advising, and counseling. I help organizations use technology to solve real business problems. After living abroad, I have found my new home in the Pacific Northwest. Repatriated to Portland, Oregon <i class="fa fa-tree"></i>.</p>
      <blockquote>
        <p>Find a way to learn something new each day</p>
      </blockquote>
    </section>
  </article>
  </div>

{% endblock %}

{% block js_scripts %}
  {% include "base_js_scripts.html" %}

{% endblock %}
