<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>

{% block head %}

  {# metadata #}
  {# css links #}

{% endblock %}

  <title>{% block title %}{% endblock %} | mple by michael williams</title>

</head>
<body>

  <!-- navbar -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'index' %}">mple <small class='text-muted'>{% block navbar_subtext %}{% endblock %}</small></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'javapic:index' %}">Javapic</a></li>
          <li><a href="{% url 'javapic_jquery:index' %}">Javapic jQuery</a></li>
          <li><a href="{% url 'forum' %}">Forum</a></li>
          <li><a href="{% url 'zen_mockup' %}">Zen Mockup</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav> <!-- end navbar  -->

{% block body %}{% endblock %}

  <!-- footer -->
  <footer class="container text-right">
    <a href="https://twitter.com/michael_mdw">
      <img src="{% static "images/twitter.svg" %}" alt="twitter icon to connect" />
    </a>
    <p class="text-muted">&copy; 2015 michael williams</p>
  </footer>

{% block js_scripts %}{% endblock %}

</body>
</html>
