{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
  {% include "base_metadata.html" %}
  {% include "base_css_links.html" %}

  {% block css_links %}
    <link rel="stylesheet" href="{% static "css/style_javapic.css" %}">
  {% endblock %}

    {% block title %} Javapic {% endblock %}
{% endblock %}

{% block navbar_subtext %} Javapic {% endblock %}

{% block body %}
<main>
    <header>javapic <span class="tagline">develop something beautiful</span></header>
    <div id="jumbotron" class="jumbotron">
        <div>a picture is worth a 1000 words</div>
    </div>
    <div class="bottom_jumbo"><a href="{% url 'javapic:join' %}">join now</a></div>
</main>

{% endblock %}

{% block js_scripts %}
  {% include "base_js_scripts.html" %}
  <script type="text/javascript" src="{% static "js/script_javapic.js" %}"></script>

{% endblock %}


