{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
  {% include "base_metadata.html" %}
  {% include "base_css_links.html" %}

  {% block css_links %}
  <link rel="stylesheet" type="text/css" href="{% static "css/style_forum.css" %}">
  {% endblock %}

    {% block title %} Mock Forum {% endblock %}
{% endblock %}

{% block navbar_subtext %} Mock Forum {% endblock %}

{% block body %}
<div class="container">

  <h1 class="text-center text-muted">Mock Forum</h1>

  <!-- form to input/post message -->
  <form class="col-md-6 col-xs-12">
    <div class="form-group">
      <input type="text" class="form-control input-lg" placeholder="subject" >
    </div>
    <div class="form-group">
      <textarea class="form-control input-lg" rows="4" placeholder="message" ></textarea>
    </div>
    <button type="button" class="btn btn-default btn-lg btn-block">Post</button>

    <!-- helper message(s), initially hidden -->
    <!-- appear each time the button is pressed -->
{#    <h4 class="help-msg text-success hidden">Message delivered!</h4>#}
    <h4 class="help-msg text-danger hidden">Message Error! Fields cannot be blank.</h4>
  </form>

  <!-- forum posts -->
  <section id="forumWrapper" class="col-md-6 col-xs-12">
    <!-- posts populate here -->
  </section>
</div>

{% endblock %}

{% block js_scripts %}
  {% include "base_js_scripts.html" %}
  <script type="text/javascript" src="{% static "js/script_forum.js" %}"></script>

{% endblock %}
