@import url(http://fonts.googleapis.com/css?family=Nova+Square);

/* layout */
.page-wrapper {
  font-family: sans-serif;
  background-color: #eee;
  color: #000;
  margin: 0 auto;
  padding: 5% 20%;
  width: 75%;
  font-size: 20px;
  font-weight: 100;
}
h1, h2, h3 {
  font-family: 'Nova Square', cursive;
}
a {
  color: #E00E00;
  text-decoration: none;
}
li {
  list-style: none;
}
article, header h2, footer a {
  border-radius: 2px;
}
main, aside {
  display: inline-block;
}
main {
  width: 62%;
}
aside {
  vertical-align: top;
  margin-left: 3.5%;
  text-align: center;
  width: 30%;
}


/* header -- Mini CSS Zen Garden */
h1 {
  color: #E23045;
  margin-bottom: 14px;
  font-size: 3em;
}
h2 {
  background-color: #E23045;
  color: #FFF6E0;
  padding: 3px 5px;
}


/* article -- The Road to Enlightenment */
section article {
  background-color: #1B4548;
  color: #FFF6E0;
  box-shadow: 37px 45px #7AB3B0;
  padding: 8px 10px;
  margin-bottom: 72px;
}
section article p {
  font-weight: 100;
}


/* main -- So What is This About, Participation */
main article {
  background-color: #FFF6E0;
  box-shadow: 37px 45px #7AB3B0;
  padding: 2px 20px;
  border: 1px solid #000;
  margin-bottom: 14px;
}
main article + article {
  margin-bottom: 63px;
}


/* footer -- HTML, CSS tags */
.footer {
  text-align: right;
}
.footer a {
  background-color: #918774;
  color: #FFF6E0;;
  padding: 7px 10px;
  box-shadow: 10px 19px #D9CFBC;
  font-weight: normal;
}


/* aside -- View This Design's CSS */
aside ul {
  margin-top: 0;
}
aside h3 {
  display: none;
}
aside a {
  background-color: #E23045;
  color: #FFF6E0;
  box-shadow: 14px 21px #F49682;
  padding: 7px 10px;
  display: block;
  width: 100%;
  margin: 7px;
  font-weight: normal;
}


/* media queries */
@media screen and (max-width: 800px) {
  body {
    padding: 5% 0;
  }
  main {
    display: block;
    width: 100%;
    margin-bottom: 30px;
  }
  aside {
    width: 100%;
    margin-left: 0;
  }
  aside ul {
    padding-left: 0;
  }
  aside a {
    margin-left: 0;
  }
}

/* ---------- django custom css ---------- */
.page-wrapper {
    box-sizing: content-box;
}
footer {
  margin-top: 25px;
}
